<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Alpha blog</h1>

        <p class="lead">
            This is a simple hero unit, a simple jumbotron-style component
            for calling extra attention to featured content or information.
        </p>

        <hr class="my-4">

        <p class="lead">
            <%= link_to "Sign Up", signup_path,
            class: "btn btn-success btn-lg" %>
        </p>
    </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">

    <small>
      Copyright &copy;

      <%= link_to "kunal hande",
      "#",
      class: "text-white text-decoration-none" %>

    </small>

  </div>
</footer>


<!-->
blog app
blog <applet>blog aapp</applet> 
jjljlksjksjlkfjklaj
marshal -- north korea
3classe like the cast
isolated contry
farmer at the border under the servilance of the military
defecter - who ran from the north korea, only 1 ran from the dmc who was the solder

dr congo - 2nd largest contry 
tribes fighting internally
m23 rebels are controlling the contry

indian at congo who as the shop in goma who travel from the another contry
laguage is french
5*7 room in the jail under cage were the prisoner kept
simple thing is to do muder dimple simpale kjwhere are hukumat hamajjre  hati afazal khan hid eand seek nijam shahi swarajya killw torana 

shahaji raje and sambhaji raje
sambhaji samhaji raje bhosale
shivaji sambhaji raje bhosale
vidroh for the swarajya 
appa khan 
afazal khan 
sambhaju raje 
peer baba daragah
history is writen in the past or about past
afazal khans wlwphant was dead and his army has 
javali fort name is the pratapgad were the afazal khan were killed by chhatrapati shivaji maharaj
afazal khan were stop in tha vai
satara district and the mahabaleshwar was kwon as the javvali at 16th century

indian military in the goma
when prisoner ran away from the cage of the congo goma the m23 rebels can shot that prisoner

in libia indians were banned for the tourist

japans sapora city is world's second coldest city

j1 151 flight 
pyongyang capital of the north korea - dprk(democratic peoples republic of korea)
after 1948 korea divided into sk and nk - kim jong un
problem of electricity in the pyongyang
pyongyang marathon is 




-->

